p{
    padding: 20px;
    color: white;
    border: 1px solid white;
}
.container{
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.container.box{
    border: 20px;
    box-shadow: 0 0 5px 0 rgba(155, 48, 48, 0.976);
}
.container.wide{
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(30, 144, 148, 0.3);
}

.red{
border: 1px solid red;
color: white;
background-color: red
}
.blue{
    border: 1px solid blue;
    color: white;
    background-color: blue;
}
.default{
    color: white;
    border: 1px solid white;
}