:root {
    --colortext: rgb(196, 222, 246);
    --color: rgb(196, 222, 246);
    --background1: rgba(54, 24, 8, 0.775);
    --colortexttieudeSP: rgb(244, 239, 239);
    --colortextmotaSP: rgb(0, 0, 0);
}


body{
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

/* ///////////////////////////////////////////////////////// */

header img{
    width: 100%;
    height: 210px;
}
nav{
    position: fixed;
    top : 0;
    width: 90%;
    height: 60px;
    padding: 0 5%;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    justify-content: space-between;
    background-color: #4f2c1c9d;
    z-index: 1;
}
nav>.nav_box{
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
}
nav img{
    margin-right: 10px;
}
nav a{
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    font-family:'FontAwesome';
    font-size: 18px;
    color: rgb(245, 238, 238);
    background-color: inherit;
    border: none;
}
nav a:hover{
    background-color: #ff995041;
    border: 0 1px ;
    transition-duration: 500ms;
}
nav a:active{
    background-color: #ad9f29dd;
    transition-duration: 500ms;
}
nav a:focus{
    background-color: #c66f31dd;
    transition-duration: 500ms;
}
nav>.nav_box>.icon{
    position: relative;
    height: 60%;
    margin: auto 0;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
}
nav>.nav_box>.icon>.soLuong{
    width: 17px;
    height: 17px;
    position: absolute;
    top: -20px;
    left: 22px;
    background-color: rgba(255, 0, 0, 0.757);
    border-radius: 50%;
    text-align: center;
}
/* ///////////////////////////////////////////////////////// */

/* Thanh tìm kiếm */
.timkiem{
    position: relative;
    margin: auto 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-family: 'Inter',sans-serif;
    font-family: 'Lato',sans-serif;
    font-family: 'Noto Sans',sans-serif;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(https://cdn-icons-png.flaticon.com/128/4410/4410940.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 45% 50%;
} 
.timkiem:hover{
    border:  1px solid rgba(141, 115, 20, 0.581);
}
.timkiem:focus{
    border-radius: 30px;
    width: 160px;
    cursor: text;
    padding-left: 30px;
    color: white;
    outline: none;
    background-color: rgba(24, 8, 4, 0.453);
    background-image: url(https://cdn-icons-png.flaticon.com/128/4410/4410940.png);
    background-repeat: no-repeat;
    background-size: 30px;
    transition-duration: 500ms;
    background-position: 0 50%;
}


/* ///////////////////////////////////////////////////////// */

/* BOX SLIDE */
/* khung tong */
.box_slide{
    position: relative;
    width: 100%;
    height: auto;
}
.box_slide>.itemslide{
    position: relative;
    width: 90%;
    height: auto;
    margin-top: 50px;
    margin: 0 auto
}
.box_slide>.itemslide>img{
    width: 100%;
    height: 380px;
    margin-top: 40px;
    border-radius: 10px;
}
.STT{
    color: whitesmoke;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}
.textslide{
    color: rgb(47, 19, 6);
    text-align: center;
    width: 98%;
    height: 20px;
    padding: 15px 0 10px 0;
    margin-left: 1%;
    border-top: 3px solid rgba(56, 56, 159, 0.695);
    letter-spacing: 15px; 
    font-family: 'Trebuchet MS';
}
/* nút trái, nút phải */
.box_slide>.nutbam_next_slide>#nut_trai{
    cursor: pointer;
    width: 45%;
    height: 380px;
    position: absolute;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    margin-left: 5%;
    top:0;
    text-align: left;
    color: rgba(0, 0, 0, 0);
    border-radius: 10px 0 0 10px;
    background-color:inherit;
}
.box_slide>.nutbam_next_slide>#nut_trai:hover{
    color: whitesmoke;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0));
}
.box_slide>.nutbam_next_slide>#nut_phai{
    cursor: pointer;
    width: 45%;
    height: 380px;
    position: absolute;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 25px;
    margin-right: 5%;
    right: 0;
    top:0;
    color: rgba(0, 0, 0, 0);
    text-align: right;
    border: none;
    border-radius: 0 10px 10px 0;
    background:initial;
}
.box_slide>.nutbam_next_slide>#nut_phai:hover{
    color: whitesmoke;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0));
}  
/* chấm tròn */
.box_slide>.box_cham_tron{
    height: 40px;
    text-align:center
}
.box_slide>.box_cham_tron>.cham_tron{
    cursor: pointer;
    margin: 0 5px;
    color: var(--background1);
    transition: all 0.6s ease;
}
.box_slide>.box_cham_tron>.cham_tron:hover{
    color: rgb(235, 136, 16);
    transition: all 0.6s ease;
}
.active, .box_slide>.box_cham_tron>.cham_tro{
    padding: 0 20px;
    background-color: rgb(225, 203, 177);
    border-radius: 20px;
    color: rgb(20, 12, 1);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Box của mỗi phần */
.box{
    width: 100%;
    height: auto;   
    position: relative;
    background-image: linear-gradient(15deg, #3a2a25, #5e443d, #584134,#a86e4c);
    margin: 20px 0 20px 0;
}

/* ///////////////////////////////////////////////////////// */

/* Box Logo */
.boxlogo{
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 140px;
    background-color: 	#3d1c0d	;
}
/* Logo ảnh Miu timo */
.boxlogo>.logo-Miu-timo{
    width: 380px;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%);
}

/*đường Kẻ ngang */
.boxlogo>h2{
    position: absolute;
    width: 87%;
    top: 55px;
    border-bottom: 1px dashed #b4462a;
    left: 50%;
    transform: translate(-50%);
}
/* Nề sau chữ trà sữa và bạn*/
.boxlogo>.span0{
    width: 370px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 60px;
    background-color:	#3d1c0d;
    left: 49%;
    transform: translate(-49%);
    font-family: "Archaic", serif;
}
/* Chữ trà sữa và bạn */
.boxlogo>.span1{
    width: 400px;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: rgba(226, 223, 221, 0.7);
    font-size: 25px;
    letter-spacing: 15px;  
    text-shadow: 2px -1px 1px rgb(54, 25, 25);
    position: absolute;
}
/* Tiêu đề */
.boxlogo>.span2{
    width: 100%;
    position: absolute;
    font-family: "viber", cursive;
    font-size: 60px;
    text-align: center;
    letter-spacing: 15px;  
    font-family:'FontAwesome';
    bottom: 0;
    color: var(--color);
    left: 50%;
    transform: translate(-50%);  
}
/* ///////////////////////////////////////////////////////// */

/* Box giới thiệu */
/* text Box giới thiệu */
.box>.text-gioi-thieu{
    padding-top: 20px;
    margin-left: 5%;
    height: auto;
    width: 90%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
/* Hôm nay đi đâu */
.box>.bi-a-gioi-thieu>.span1{
    font-family: 'Trebuchet MS';
    text-align: center;
    letter-spacing: 30px;  
    font-size: 30px; 
}
/* Logo chữ Miu timo */
.box>.bi-a-gioi-thieu>.Miu-timo{
    top: 40px;
    width: 800px;
    margin-left: 50%;
    transform: translate(-50%);
}
.box>.bi-a-gioi-thieu>.span2{
    width: 800px;
    text-align: center;
    letter-spacing: 15px;  
    font-size: 30px;
}
.box>.bi_a_shop{
    margin-top: 60px;
    text-align: center;
}
.box>.bi_a_shop>button{
    width: 200px;
    height: 50px;
    color: var(--colortext);
    background-color: rgba(32, 22, 22, 0.759);
    border: 2px solid rgba(32, 22, 22, 0.777);
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 1;
    transition: 0.5s;
}
.box>.bi_a_shop>button:hover{
    width: 205px; 
    opacity: 0.8 
}

/* BOX MENU ______________________________________________ */
.box-menu{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.box-menu>.box-doi{
    position: relative;
    flex: 1 1 300px;
    margin-right: 20px;
    width: auto;
    height: 550px;
    filter: drop-shadow(0px 2px 2px rgba(20, 15, 2, 0.3))
            drop-shadow(0px 0px 3px rgba(150, 64, 64, 0.2))
            drop-shadow(0px 0px 3px rgba(16, 8, 8, 0.889));
}
/* khung ảnh */
.box-menu>.box-le{
    position: relative;
    margin: -100px 0 0 10px;
    width: 500px;
    height: 550px;
}
.box-menu>.box-le img{
    filter: drop-shadow(0px 2px 2px rgba(20, 15, 2, 0.3))
            drop-shadow(0px 0px 3px rgba(150, 64, 64, 0.2))
            drop-shadow(0px 0px 3px rgba(16, 8, 8, 0.889));
}
.box-menu>.box-le h1{
    text-align: center;
    height: 12%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.box-menu>.box_combo_sp>.box-le{
    width: 90%;
    margin-left: 5%;
}

/* khung box combo */
.box-menu>.box-doi>.combo{
    position: relative;
    width: 100%;
    height: 45%;
    border-bottom: 2px solid gray;
    background-image: linear-gradient( 35deg, #4a3730d4, #926a5ac5, #633824b5);
}
/* chữ combo và văn bản */
.box-menu>.box-doi>.combo>.textTieuDe{
    padding: 10px;
    background-color: #4e342c2e;
    color: var(--colortexttieudeSP);
}
.box-menu>.box-doi>.combo>.textMoTa{
    padding: 10px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--colortextmotaSP);
}
/* Giá tiền */
.box-menu>.box-doi>.combo>.mua{
    position: absolute;
    width: 94%;
    padding: 0 3%;
    height: 60px;
    bottom: 0;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 800ms;
}
.box-menu>.box-doi>.combo>.mua:hover{
    height: 65px;
    background-image: linear-gradient(360deg, #2e1b1bae,   #09090900);
    transition-duration: 400ms; 
    font-size: 17px;
}
.box-menu>.box-doi>.combo>.mua>button{
    cursor: pointer;
    margin: auto 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;  
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    background-image: linear-gradient(35deg, #74544a, #b56b4e, #764832);
}
.box-menu>.box-doi>.combo>.mua>button:hover{
    background-image: linear-gradient(35deg, #977064, #dd8461, #a56649);
}
.box-menu>.box-doi>.combo>.mua>button:active{
    background-image: linear-gradient(35deg, #3b2a25, #583325, #492718); 
}
.box-menu>.box-doi>.combo>.mua>.giaTien{
    margin: auto 0;
    color: var(--color); 
}
.box-menu>.box-doi>.combo>.mua>.giaTien>h2>s{
    font-size: 90%;
    margin-left: 5px;
    color: rgba(199, 199, 199, 0.72);
}
/* Nút bấn */

/* BOX 3 SP */
.box-menu>.box-le-SP{
    position: relative;
    margin: 0 30px;
    width: 30%;
    height: 550px;
    flex: 1 1  350px;
    text-align: center;
}
/* anh sp */
.box-menu>.box-le-SP>img{
    position: absolute;
    width: 95%;
    height: 80%;
    left: 50%;
    transform: translate(-50%); 
    background-color: rgba(26, 68, 104, 0.382);
    border-bottom: 2px solid #b4462a;
    border-top: 2px solid #b4462a;
    filter: drop-shadow(0px 2px 2px rgba(20, 15, 2, 0.3))
    drop-shadow(0px 0px 3px rgba(150, 64, 64, 0.2))
    drop-shadow(0px 0px 3px rgba(16, 8, 8, 0.889));
}
/* Tene sp */
.box-menu>.box-le-SP>.TT{
    width: 100%;
    height: 18%;
    border-top: 2px solid #b4462a;
    position: absolute;
    bottom: 0;
}
.box-menu>.box-le-SP>.TT>h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Nút chi tiết */
.box-menu>.box-le-SP>.TT>button{
    font-size: 15px;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 10px;
    border-radius: 10px;
    background-image: linear-gradient(35deg, #74544a, #b56b4e, #764832);
    left: 50%;
    transform: translate(-50%);    
}
.box-menu>.box-le-SP>.TT>button:hover{
    background-image: linear-gradient(35deg, #977064, #dd8461, #a56649);
    color: rgb(27, 25, 25);
}
.box-menu>.box-le-SP>.TT>button:active{
    background-image: linear-gradient(35deg, #3b2a25, #583325, #492718); 
    color: rgba(233, 226, 226, 0.705);
}
/* box ship */
.box-menu>.ship{
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    background-color: rgba(127, 255, 212, 0.472);
}
.box-menu>.ship>.anh_Shiper{
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 110%;
}
.box-menu>.ship>h2{
    position: absolute;
    left: 13%;
    font-size: 40px;
    top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.box-menu>.ship>.SDT{
    position: absolute;
    left: 5%;
    bottom: 70px;
    font-size: 100px;
}

/* BOX IMG____________________________________________  */
.img{
    margin-top: 70px;
    width: 100%;
    height: 400px;
}
.img img{
    width: 100%;
    height: 100%;
}

/* BOX Cửa Hàng____________________________________________  */
.box>.box_cua_hang{
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* khung của 1 item */
.box>.box_cua_hang>.box_SP{
    position: relative;
    height: 500px;
    flex: 1 1 280px;
    max-width: 320px;
    margin: 20px 3px;
}
/* khung ảnh sản phẩm */
.box>.box_cua_hang>.box_SP>.img_sp{
    position: relative;
    margin: 0 auto;
    height: 70%;
    width: 97%;
}
/* ảnh SP */
.box>.box_cua_hang>.box_SP>.img_sp> img{
    width: 100%;
    height: 98%;
    border-bottom: 3px solid #b4462a;
    filter: drop-shadow(0px 2px 2px rgba(20, 15, 2, 0.3))
            drop-shadow(0px 0px 3px rgba(150, 64, 64, 0.2))
            drop-shadow(0px 0px 3px rgba(16, 8, 8, 0.889));
}
/* Giá tiền */
.box>.box_cua_hang>.box_SP>.img_sp>h2{
    position: absolute;
    text-align: center;
    line-height: 45px; 
    letter-spacing: 5px; 
    margin-left: 5%;
    bottom: -40px;
    width: 40%; 
    border-radius: 10px;
    backdrop-filter:blur(1px) ;
    background-color: #aa533d;
}
.box>.box_cua_hang>.box_SP>.img_sp>h2:hover{
    padding: 158px 30% ;
    border-radius: 0  0 10px 10px;
    font-size: 35px;
    color: #ede9e6;
    margin-left: 0px ;
    background-color: #280c0656;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT{
    padding: 20px 0 1px 0;
    width: 100%;
    line-height: 10px;
    height: auto;
    background-color:#290e0a85;
    border-top: 2px solid #b4462a;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.TT{
    margin-left: 7%;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam{
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.mua_ngay{
    cursor: pointer;
    height: 50px;
    border: none;
    background-color: rgb(129, 67, 28);
    flex: 1 1  100px;
    font-size: 30px;
    font-family:'Times New Roman';
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.chi_tiet{
    cursor: pointer;
    height: 50px;
    border: none;
    background-color: rgb(101, 59, 39);
    flex: 1 1  100px;
    font-size: 30px;
    font-family: 'Times New Roman';
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.mua_ngay:hover,
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.chi_tiet:hover{
    background-color: rgba(160, 104, 40, 0.803);
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.mua_ngay:active,
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.chi_tiet:active{
    background-color: rgba(65, 36, 3, 0.803);
}

.box>.thong_bao_giam_gia{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: #3d1c0d;
}
.box>.thong_bao_giam_gia img{
    width: 100%;
    background-color: #3d1c0d;
}


/* BOX ĐẶT BÀN ______________________________________________ */
/* Box tổng đặt bàn */
.box>.box_dat_ban{
    padding: 40px;
    height: auto;
    display: flex; /* nằm 1 hàng */
    flex-direction: row; /* cột*/
    justify-content: center; /* box nằm giữa*/

}
/* Box ảnh đặt bàn */
.box>.box_dat_ban>.anh_dat_ban{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(144, 143, 41);        
}   
.box>.box_dat_ban>.anh_dat_ban> img{
    width: auto;
    max-width: 900px;
    height: 100%;
    filter: drop-shadow(0px 2px 2px rgba(20, 15, 2, 0.3))
    drop-shadow(0px 0px 3px rgba(150, 64, 64, 0.2))
    drop-shadow(0px 0px 3px rgba(16, 8, 8, 0.889));
}   
/* Box điền thông tin đặt bàn */
.box>.box_dat_ban>.dien_thong_tin_dat_ban{
    display: flex;
    width: 50%;
    flex-direction: column;        
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.tieu_de{
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    font-size: 20px; 
    font-family: Verdana,Tahoma, sans-serif;
    width: 90%;
    margin-left: 10%;
    justify-content: center; /* box nằm giữa*/
    border-bottom: 2px solid #b4462a ;
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.all_field{
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    height: auto; 
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.all_field>.field{
    position: relative;
    width: 100%;
    margin-top: 10%;
    height: auto; 
} 

textarea{
    border: none;
    background-color: initial;
    font-size: 20px;
    width: 100%;
}
textarea:focus{
    outline: none;
}
legend{
    font-size: 20px;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
}
fieldset{
    margin-right: 10%;
    background-color: #47262630;
    border-color: #b4462a66;
}
.date{
    border: none;
    background-color: initial;
    font-size: 20px;
    width: 100%;
}

/*)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */
input:focus,
.checkbox:focus{
    outline: none;
}
/* Nhập chữ*/
.field>input{
    width: 100%;
    height: auto;
    font-size: 20px;
    color: white;
    border: none;
    background: none;
    box-sizing: border-box;
}
.field .lable-wrapper{
    position: absolute;
    height: 25px;
    width: 90%;
    left: 0;
    letter-spacing: 5px;
    background-color: inherit;
    pointer-events: none;
    border-bottom: 1px solid rgb(247, 247, 247);
}
/* thanh ngang cam */
.field .lable-wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2.5px solid #ff9950;
    transform: translateX(-1500px);
    transform: transform 0.2s ease;
}
/* chữ */
.field .lable-text{
    position: absolute;
    left: 15px;
    font-size: 20px;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
    transform: all 0.009s ease;
    transition-duration: 500ms  
}
.field input:focus + .lable-wrapper .lable-text,
.field input:valid + .lable-wrapper .lable-text{
    letter-spacing: 4px;
    font-size: 17px;
    left: 0;
    color: #ff9950;
    transform: translateY(-100%);
}
.field input:focus + .lable-wrapper::after,
.field input:valid + .lable-wrapper::after{
    transform: translateX(0%);
}

/* Nút bấm đặt bàn */
.nut_dat_ban{
    width: 100px;
    height: 10%;
    background-color: rgb(89, 89, 217);
    border: none;
    margin:40px 0 30px 78%;
    padding: 10px 0;
    border-radius: 5px;
    transition: opacity .2s ease;
}
.nut_dat_ban:hover{
    background-color: rgba(24, 47, 200, 0.265);
}
.nut_dat_ban:focus{
    background-color: darkgreen;
}
.nut_dat_ban:active{
    opacity:0.3;
}


.box>.box_lien_he{
    width: 100%;
    height: auto;
    display: flex; /* nằm 1 hàng */
    flex-direction: column;
}
.box>.box_lien_he>.box_tren_duoi{
    width: 100%;
    height: 500px;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_tren{
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    width: 50%;
    margin: 10px;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_tren img{
    width: 100%;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi{
    display: flex; /* nằm 1 hàng */
    flex-direction: column;
    width: 50%;
    background-color: rgba(101, 77, 46, 0.439);
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he{
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: aliceblue;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he a{
    margin: auto 20px;
    text-decoration: none;
    color: aliceblue;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he>.icon_TT{
    width: auto;
    height: 40px;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.logo{
    width: 98%;
    padding: 50px 0;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
            drop-shadow(5px 5px 5px rgba(150, 64, 64, 0.2))
            drop-shadow(15px 15px 15px rgba(16, 8, 8, 0.889));

}
