body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 900px;
}

/* ////////// */
header img{
    width: 100%;
    height: 210px;
}
nav{
    width: 90%;
    height: 60px;
    padding: 0 5%;
    margin: 0 auto;
    background-color: rgba(53, 30, 30, 0.509);
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    justify-content: space-between;
}
nav a{
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    width: 90px;
    font-family:'FontAwesome';
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: inherit;
    border: none;
}
nav a:hover{
    background-color: #ff995041;
    border: 0 1px ;
    color: #452b19ba;
    transition-duration: 500ms;
}
nav>.nav_box{
    margin-left: 50px;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
}
nav>.nav_box>.icon{
    height: 70%;
    margin: auto 0;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
}
/* Thanh tìm kiếm */
.timkiem{
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-family: 'Inter',sans-serif;
    font-family: 'Lato',sans-serif;
    font-family: 'Noto Sans',sans-serif;
    font-size: 15px;
    border: 1px solid white;
    overflow: hidden;
    background-image: url(https://cdn-icons-png.flaticon.com/128/4410/4410940.png);
    background-repeat: no-repeat;
    background-size: 48px;
    background-position: 45% 50%;
  } 
  .timkiem:hover{
    border:  1px solid rgba(0, 0, 255, 0.284);
  }
  .timkiem:focus{
    border-radius: 30px;
    width: 200px;
    cursor: text;
    padding-left: 60px;
    color: white;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(0, 94, 255);
    background-image: url(https://cdn-icons-png.flaticon.com/128/4410/4410940.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10px 50%;
  }

/* nhớ dối thàng autu */
.box{
    width: 100%;
    height: auto;   
    position: relative;
    background-color: rgba(32, 22, 22, 0.656);
    margin: 20px 0 20px 0;
}

/* ///////////////////////////////////////////////////////// */
/* BOX SLIDE */
.box-slide{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background-color: rgb(26, 157, 169);
}
/* ảnh slide */
.box-slide>img{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* dấu 3 chấm */
.box-slide>.bacham{
    position: absolute;  
    bottom:1px;
    left: 50%;
    transform: translate(-50%);
    transform: 0.4s ease;
}
.box-slide>.bacham>button{
    width: 5px;
    height: 12px;
    border-radius: 50%;
    margin: 0 10px;
    border: none;
    background-color: rgba(47, 43, 43, 0.423);
}
.box-slide>.bacham>button:hover{
    background-color: rgb(153, 41, 41);
}
/* ///////////////////////////////////////////////////////// */

/* Box Logo */
.boxlogo{
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 140px;
    background-color: rgb(60, 47, 47);;
}
/* Logo ảnh Miu timo */
.boxlogo>.logo-Miu-timo{
    width: 380px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}
/*đường Kẻ ngang */
.boxlogo>h2{
    position: absolute;
    width: 87%;
    top: 55px;
    border-bottom: 1px dashed #b4462a;
    left: 50%;
    transform: translate(-50%);
}
/* Nề sau chữ trà sữa và bạn*/
.boxlogo>.span0{
    width: 370px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 60px;
    background-color: rgb(60, 47, 47);
    left: 49%;
    transform: translate(-49%);
    font-family: "Archaic", serif;
}
/* Chữ trà sữa và bạn */
.boxlogo>.span1{
    width: 400px;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: rgba(226, 223, 221, 0.7);
    font-size: 25px;
    letter-spacing: 15px;  
    text-shadow: 2px -1px 1px rgb(54, 25, 25);
    position: absolute;
}
/* Tiêu đề */
.boxlogo>.span2{
    width: 100%;
    position: absolute;
    font-family: "viber", cursive;
    font-size: 60px;
    text-align: center;
    letter-spacing: 15px;  
    font-family:'FontAwesome';
    bottom: 0;
    left: 50%;
    transform: translate(-50%);  
}
/* ///////////////////////////////////////////////////////// */

/* Box giới thiệu */
/* Khung box */
/* text Box giới thiệu */
.box>.text-gioi-thieu{
    padding-top: 20px;
    margin-left: 5%;
    height: auto;
    width: 90%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}
.box>.text-gioi-thieu>.h2{
    width: 70%;
}
/* Hôm nay đi đâu */
.box>.bi-a-gioi-thieu>.span1{
    font-family: 'Trebuchet MS';
    text-align: center;
    letter-spacing: 30px;  
    font-size: 30px; 
}
/* Logo chữ Miu timo */
.box>.bi-a-gioi-thieu>.Miu-timo{
    top: 40px;
    width: 800px;
    margin-left: 50%;
    transform: translate(-50%);
}
.box>.bi-a-gioi-thieu>.span2{
    width: 800px;
    text-align: center;
    letter-spacing: 15px;  
    font-size: 30px;
}
.box>.bi_a_shop{
    margin-top: 60px;
    text-align: center;
}
.box>.bi_a_shop>button{
    width: 200px;
    height: 50px;
    background-color: rgba(32, 22, 22, 0.759);
    border: 2px solid rgba(32, 22, 22, 0.777);
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 1;
    transition: 0.5s;
}
.box>.bi_a_shop>button:hover{
    width: 205px; 
    opacity: 0.8 
}

/* BOX MENU ______________________________________________ */
.box-menu{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
/* khung ảnh */
.box-menu>.box-le{
    position: relative;
    margin: -100px 0 0 10px;
    width: 500px;
    height: 550px;
}
.box-menu>.box-le h1{
    text-align: center;
}
.box-menu>.box_combo_sp>.box-le{
    width: 90%;
    margin-left: 5%;
}
.box-menu>.box-doi{
    position: relative;
    flex: 1 1 300px;
    margin-right: 20px;
    width: auto;
    height: 550px;
}
/* khung box combo */
.box-menu>.box-doi>.combo{
    position: relative;
    width: 100%;
    height: 45%;
    /* background-color: rgb(160, 99, 20); */
    background-image: url(IMG/background-test.jpg);
}
/* chữ combo và văn bản */
.box-menu>.box-doi>.combo>.text{
    margin-left: 10px; 
}
/* Giá tiền */
.box-menu>.box-doi>.combo>h2{
    position: absolute;
    bottom: -10px;
    left: 10px;  
}
/* Nút bấn */
.box-menu>.box-doi>.combo>button{
    position: absolute;
    bottom: 15px;
    right: 10px;
    border-radius: 20px;
    width: 100px;
    height: 40px;  
}
.box-menu>.box-doi>.combo>button:hover{
    background-color: rgb(67, 57, 43);
}
/* BOX 3 SP */
.box-menu>.box-le-SP{
    position: relative;
    margin: 0 30px;
    width: 30%;
    height: 550px;
    flex: 1 1  350px;
    text-align: center;
}
/* anh sp */
.box-menu>.box-le-SP>img{
    position: absolute;
    width: 95%;
    height: 80%;
    left: 50%;
    transform: translate(-50%); 
    background-color: rgba(26, 68, 104, 0.382);
    border-bottom: 2px solid #b4462a;
    border-top: 2px solid #b4462a;
}
/* Tene sp */
.box-menu>.box-le-SP>.TT{
    width: 100%;
    height: 18%;
    border-top: 2px solid #b4462a;
    position: absolute;
    bottom: 0;
}
.box-menu>.box-le-SP>.TT>h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Nút chi tiết */
.box-menu>.box-le-SP>.TT>button{
    font-size: 15px;
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);    
}
.box-menu>.box-le-SP>.TT>button:hover{
    background-color: rgb(123, 99, 65);
}
/* box ship */
.box-menu>.ship{
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    background-color: rgba(127, 255, 212, 0.472);
}
.box-menu>.ship>.anh_Shiper{
    position: absolute;
    right: 0;
    bottom: -50px;
    height: 110%;
}
.box-menu>.ship>h2{
    position: absolute;
    left: 13%;
    font-size: 40px;
    top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.box-menu>.ship>.SDT{
    position: absolute;
    left: 5%;
    bottom: 70px;
    font-size: 100px;
}

/* BOX IMG____________________________________________  */
.img{
    margin-top: 70px;
    width: 100%;
    height: 400px;
}
.img img{
    width: 100%;
    height: 100%;
}

/* BOX Cửa Hàng____________________________________________  */
.box>.box_cua_hang{
    position: relative;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}
.box>.box_cua_hang>.box_SP{
    margin: 2%;
    position: relative;
    height: 550px;
    flex: 1 1  350px;
    max-width: 470px;
}
/* ảnh sản phẩm */
.box>.box_cua_hang>.box_SP>.img_sp{
    position: relative;
    margin: 0 2% ;
    height: 70%;
    width: 97%;
}
.box>.box_cua_hang>.box_SP>.img_sp> img{
    width: 100%;
    height: 98.5%;
    border-bottom: 2px solid #b4462a;
}
/* Giá tiền */
.box>.box_cua_hang>.box_SP>.img_sp>h2{
    position: absolute;
    text-align: center;
    line-height: 50px; 
    letter-spacing: 5px; 
    margin-left: 5%;
    bottom: -40px;
    width: 40%; 
    border-radius: 10px;
    background-color: #b4462a;
    z-index: 1;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT{
    padding: 20px 0 1px 0;
    width: 100%;
    line-height: 10px;
    height: auto;
    background-color:#b4462a4c;
    border-top: 2px solid #b4462a;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.TT{
    margin-left: 7%;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam{
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.mua_ngay{
    height: 65px;
    border: none;
    background-color: rgb(73, 129, 28);
    flex: 1 1  150px;
    font-size: 30px;
    font-family:'Times New Roman';
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.mua_ngay:hover{
    background-color: rgba(73, 129, 28, 0.532);
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.chi_tiet{
    height: 65px;
    border: none;
    background-color: rgb(131, 173, 96);
    flex: 1 1  150px;
    font-size: 30px;
    font-family: 'Times New Roman';
}
.box>.box_cua_hang>.box_SP>.box_SP_TT>.nut_bam>.chi_tiet:hover{
    background-color: rgba(73, 129, 28, 0.532);
}
/* BOX ĐẶT BÀN ______________________________________________ */
/* Box tổng đặt bàn */
.box>.box_dat_ban{
    padding: 40px;
    height: auto;
    display: flex; /* nằm 1 hàng */
    flex-direction: row; /* cột*/
    justify-content: center; /* box nằm giữa*/

}
/* Box ảnh đặt bàn */
.box>.box_dat_ban>.anh_dat_ban{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(144, 143, 41);        
}   
.box>.box_dat_ban>.anh_dat_ban> img{
    width: auto;
    max-width: 900px;
    height: 100%;
}   
/* Box điền thông tin đặt bàn */
.box>.box_dat_ban>.dien_thong_tin_dat_ban{
    display: flex;
    width: 50%;
    flex-direction: column;        
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.tieu_de{
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    font-size: 20px; 
    font-family: Verdana,Tahoma, sans-serif;
    width: 90%;
    margin-left: 10%;
    justify-content: center; /* box nằm giữa*/
    border-bottom: 2px solid #b4462a ;
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.all_field{
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    height: auto; 
}  
.box>.box_dat_ban>.dien_thong_tin_dat_ban>.all_field>.field{
    position: relative;
    width: 100%;
    margin-top: 10%;
    height: auto; 
} 

textarea{
    border: none;
    background-color: initial;
    font-size: 20px;
    width: 100%;
}
textarea:focus{
    outline: none;
}
legend{
    font-size: 20px;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
}
fieldset{
    margin-right: 10%;
    background-color: #47262630;
    border-color: #b4462a66;
}
.date{
    border: none;
    background-color: initial;
    font-size: 20px;
    width: 100%;
}

/*)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))) */
input:focus,
.checkbox:focus{
    outline: none;
}
/* Nhập chữ*/
.field>input{
    width: 100%;
    height: auto;
    font-size: 20px;
    color: white;
    border: none;
    background: none;
    box-sizing: border-box;
}
.field .lable-wrapper{
    position: absolute;
    height: 25px;
    width: 90%;
    left: 0;
    letter-spacing: 5px;
    background-color: inherit;
    pointer-events: none;
    border-bottom: 1px solid rgb(247, 247, 247);
}
/* thanh ngang cam */
.field .lable-wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2.5px solid #ff9950;
    transform: translateX(-1500px);
    transform: transform 0.2s ease;
}
/* chữ */
.field .lable-text{
    position: absolute;
    left: 15px;
    font-size: 20px;
    font-family: 'Times New Roman';
    letter-spacing: 5px;
    transform: all 0.009s ease;
    transition-duration: 500ms  
}
.field input:focus + .lable-wrapper .lable-text,
.field input:valid + .lable-wrapper .lable-text{
    letter-spacing: 4px;
    font-size: 17px;
    left: 0;
    color: #ff9950;
    transform: translateY(-100%);
}
.field input:focus + .lable-wrapper::after,
.field input:valid + .lable-wrapper::after{
    transform: translateX(0%);
}

/* Nút bấm đặt bàn */
.nut_dat_ban{
    width: 100px;
    height: 10%;
    background-color: rgb(89, 89, 217);
    border: none;
    margin:40px 0 30px 78%;
    padding: 10px 0;
    border-radius: 5px;
    transition: opacity .2s ease;
}
.nut_dat_ban:hover{
    background-color: rgba(24, 47, 200, 0.265);
}
.nut_dat_ban:focus{
    background-color: darkgreen;
}
.nut_dat_ban:active{
    opacity:0.3;
}


.box>.box_lien_he{
    width: 100%;
    height: auto;
    display: flex; /* nằm 1 hàng */
    flex-direction: column;
}
.box>.box_lien_he>.box_tren_duoi{
    width: 100%;
    height: 500px;
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_tren{
    display: flex; /* nằm 1 hàng */
    flex-direction: row;
    width: 50%;
    margin: 10px;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_tren img{
    width: 100%;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi{
    display: flex; /* nằm 1 hàng */
    flex-direction: column;
    width: 50%;
    background-color: rgba(101, 77, 46, 0.439);
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he{
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: aliceblue;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he a{
    margin: auto 20px;
    text-decoration: none;
    color: aliceblue;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.TT_lien_he>.icon_TT{
    width: auto;
    height: 40px;
    justify-content: center;
}
.box>.box_lien_he>.box_tren_duoi>.box_trai_phai_duoi>.logo{
    width: 98%;
    padding: 50px 0;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
            drop-shadow(5px 5px 5px rgba(150, 64, 64, 0.2))
            drop-shadow(15px 15px 15px rgba(16, 8, 8, 0.889));

}
