body {
	background: #a02020;
}

/* General button style (reset) */
.btn {
	outline: none;
	font-family: inherit;
	font-size: inherit;
	background: none;
	cursor: pointer;
	border: 3px solid #fff;
	color: #fff;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* nền trắng hiệu ứng*/
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1e:hover,
.btn-1e:active {
	color: #0e83cd;
}
.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}
.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}
